@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply relative w-full h-80 m-4 border-2 rounded-3xl border-gray-400;
  }

  .title {
    @apply absolute font-bold text-2xl pl-5 pt-3;
  }

  .tab {
    @apply text-zinc-400 font-bold text-xl h-full flex-1 flex items-center pl-3 cursor-pointer;
  }

  .tab:first-child {
    @apply ml-12;
  }

  .select {
    @apply bg-violet-700 text-white transition-colors shadow-inner;
  }

  .edit-container {
    @apply flex items-center justify-center mb-10;
  }

  .edit-container:first-child {
    @apply mb-5;
  }

  .edit-container span:first-child {
    @apply mr-4;
  }

  .edit-container span:nth-child(2),
  .edit-container input {
    @apply w-44 h-12 border-2 border-gray-400 text-center leading-10;
  }

  .edit-container input {
    @apply outline-none focus:border-violet-500;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
